<!DOCTYPE html>
<head>


</head>
    <link rel="stylesheet" href ="./css/styles.css">
<body>
    {{>header}}
    <p>This is a weather app which uses the services of mapbox and weathersky.</p>
    <img src="/img/me.png"/>
    {{>footer}}
</body>