<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    {{>header}}
    This is Home page
    <form>
        <input placeholder="Location">
        <button>Submit</button>
    </form>

    <p id = 'message-1'></p>
    <p id = 'message-2'></p>
    <script src ='./js/app.js'></script>
    {{>footer}}
</body>